*{background-color: rgb(0, 0, 0);


}div{
    padding: 0px;
    padding-left: 300px;
    padding-right: 300px;
    border: 10px solid;
    border-color: orangered;
    border-radius: 20px;    margin: 20px;
    color: rgb(255, 255, 255);
}

h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h2{
    font-size: large;
    font-family: cursive;
}
input{
    border-color: palevioletred;
}